@model dynamic

@{
    ViewBag.Title = "Welcome".TA();
}

<div class="row">
    <div class="col-lg-6">
        <div class="ibox-content">
            <h2>Welcome @(Settings.Get<string>(SettingField.StoreName)) Administrative Panel!</h2>
            <p>
                If you need assistance you can always contact us from the link below.
            </p>
            <div class="hr-line-dashed"></div>
            <a href="http://support.cart42.com/tickets/new" target="_blank"><span class="fa fa-envelope-o"></span> Contact Support</a>
        </div>
    </div>
</div>