.gmap{	
	font-size: 100%;
	min-height: inherit;
	padding: 0;
}

/* ======= */
/* = Map = */
/* ======= */
.map-item-info a.more-button{
	color: #ffffff;
	padding: 10px;
}
#directory-main-bar 			{ position: relative; z-index: 0; }
#directory-main-bar:after 		{ background: rgba(0, 0, 0, 0.1); content: ""; position: absolute; bottom: 0; left: 0; height: 5px; width: 100%; }

.directory-map-labels 			{ overflow: visible !important; }

#directory-main-bar .spinner 	{ display: none; }

.marker-holder 			{ position: relative; left: 0; width: 10px; height: 10px; }
.marker-content 		{ width: 280px; position: absolute; bottom: 0; background: #fff; border: 4px solid #fff; box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.25) inset; }
.map-item-info 		{ padding: 15px; }
.with-image .map-item-info { width: 130px; }
.map-item-info .title { color: #333; font-size: 12px; font-weight: bold; }
.map-item-info .address { border-bottom: 1px dotted #ccc; margin-bottom: 10px; padding-bottom: 5px; }
.marker-content img { float: right; padding: 1px; }

.marker-content .arrow { background: url('../images/pavmap/map-pin-description.png') no-repeat; bottom: -21px; left: 28px; height: 22px; position: absolute; width: 37px; }

.marker-content .close { 
	cursor: pointer; 
	background: #fff url('../images/pavmap/pop_up-close.png') no-repeat center; 
	border-radius: 10px; 
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.8); 
	height: 20px; margin: auto; 
	padding: 4px; position: absolute; 
	right: -9px; top: -9px; width: 20px; 
	opacity: 1;
	z-index: 1000; }

.map-item-info a.more-button {
	background:#73ac4b;
	background:-moz-linear-gradient(#73ac4b,#6ca146);
	background:-o-linear-gradient(#73ac4b,#6ca146);
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#73ac4b),to(#6ca146));
	background:-webkit-linear-gradient(#73ac4b,#6ca146);
	border:1px solid #679a43;
	box-shadow:0 1px 0 #88bc64 inset;
	color:#ffffff;
	display:inline-block;
	font-size:10px;
	font-weight:bold;
	padding:3px 10px;
	text-shadow:1px 1px 0 #527a35;
	text-decoration:none;
}
.map-item-info a.more-button:hover {
	background:#60903f;
	background:-moz-linear-gradient(#73ac4b,#60903f);
	background:-o-linear-gradient(#73ac4b,#60903f);
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#73ac4b),to(#60903f));
	background:-webkit-linear-gradient(#73ac4b,#60903f);
	border:1px solid #5b883c;
	box-shadow:0 1px 0 #96c376 inset;
	text-shadow:1px 1px 0 #46692e;
}

.cluster { color:#333333; cursor:pointer !important; font-family:'Oswald'; font-size:14px; text-align:center; }

.cluster-1 { background-image:url('../images/pavmap/cluster-m1.png'); width: 90px; height:80px; line-height: 79px; }
.cluster-2 { background-image:url('../images/pavmap/cluster-m2.png'); width: 90px; height:80px; line-height: 79px; }
.cluster-3 { background-image:url('../images/pavmap/cluster-m3.png'); width: 90px; height:80px; line-height: 79px; }

.draggable-toggle-button { cursor: pointer; background-color: #fff; z-index: 1000; position: absolute; bottom: 20px; right: 10px; padding: 10px; }

