.box-module-pavreassurances{
	border: 1px solid #e9e9e9;
	background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0, #F5F5F5), color-stop(1, #FFFFFF));
        background-image: -o-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
        background-image: -moz-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
        background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
        background-image: -ms-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
        background-image: linear-gradient(to top, #F5F5F5 0%, #FFFFFF 100%);
        overflow: hidden;
}

.box-module-pavreassurances .icon-name{
	font-size: 60px;
	color: #2e3a47;
	margin-right: 10px;
	display: inline-block;
}
.box-module-pavreassurances .description {
	overflow: hidden;
	display: inline-block;
}
.box-module-pavreassurances .description h4, .box-module-pavreassurances .description p {
	margin: 0;
}
.box-module-pavreassurances .description > h4 {
    max-height: 35px;
    overflow: hidden;
}
.box-module-pavreassurances .description p {
	color: #8c8c8c;
}
.box-module-pavreassurances .column {
	border-right: 1px solid #e9e9e9;
	padding: 35px 0;
	text-align: center;
}

