@{
    ViewBag.Title = "Forgot Password Confirmation".T();
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Html.T("Please check your email to reset your password.")
    </p>
</div>